.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0 2rem 0;
}

.page {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page--selected {
    border-radius: 5px;
    background-color: teal;
    color: white;
}
